* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #353535;
  padding: 40px 30%;
}

.detail {
  /* margin-top: 20px; */
  border: 3px solid #ff742f;
  padding: 30px;
  border-radius: 0 80px;
}

h1 {
  color: #ff742f;
  text-align: center;
}

label {
  color: white;
  display: block;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 7px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  background-color: white;
}

form button {
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  background-color: #ff742f;
  font-size: 15px;
  margin: 15px 40% 0;
  transition: .3s;
  cursor: pointer;
}

button:hover {
  background-color: #8f5d3a;
}
table {
  width: 90%;
  margin: 30px 5%;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 12px;
  background-color: #ff742f;
  color: #fff;
  font-weight: 500;

}

td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

tbody button{
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  color: white;
  background-color: #ff742f;
  font-size: 15px;
  margin-top: 15px;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .main{
      padding: 40px 27%;
  }
}

@media screen and (max-width: 1200px) {
  .main{
      padding: 40px 25%;
  }
}

@media screen and (max-width: 992px) {
  .main{
      padding: 40px 18%;
  }
}

@media screen and (max-width: 768px) {
  .main{
      padding: 40px 15%;
  }
}

@media screen and (max-width: 576px) {
  .main{
      padding: 30px 10%;
  }
}